.gradient {
    vertical-align: baseline;
    position: absolute;
    width: 70%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 72%, 51% 100%, 0 72%);
    z-index: -1;
}
.white {
    display: block;
    margin-left: 60px;
    width: 60%;
    height: 90%;
    position: absolute;
    top: 10%;
    bottom:30%;
    clip-path: polygon(0 0, 100% 0, 100% 72%, 51% 100%, 0 72%);
    z-index: 0;
}
.name {
    display: block;
    margin-left: 60px;
    width: 60%;
    position: absolute;
    top: 15%;
    bottom: 85%;
    z-index: 1;
}
p {
    text-align: center;
    color: #5dbeea;
    font-size: 16px;
    position: absolute;
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
}
#buttons {
    font-family: 'Roboto', sans-serif;
    background: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 2px 2px;
}
.blue {
    border: 3px solid #6968cc;
    color: #6968cc;
}
.yellow {
    border: 3px solid #ecea74;
    color: #ecea74;
}
.pink {
    border: 3px solid #e799da;
    color: #e799da;
}
.purple {
    border: 3px solid #b26bd3;
    color: #b26bd3;
}
.nav {
    z-index: 2;
    position: absolute;
    width: 6%;
    height: 10%;
    top: 85%;
    bottom: 15%;
    margin-left: 32.5%;
}